/* @media stuff */
@media (max-width: 767px) {
  /* Mobile mode */
  .hide-mobile {display: none;}
}
@media not (max-width: 767px) {
  /* Desktop mode */
  .hide-desktop {display: none;}

  wa-page {
    & > .main-sidebar {
      overflow: auto;
      max-height: 100%;
      min-width: 300px;
      padding: var(--wa-space-xl);
      max-width: 300px;
    }
  }
}

:root,
:host,
.wa-theme-default-light {
  --wa-color-brand-fill-quiet: var(--wa-color-violet-95);
  --wa-color-brand-fill-normal: var(--wa-color-violet-90);
  --wa-color-brand-fill-loud: var(--wa-color-violet-50);
  --wa-color-brand-border-quiet: var(--wa-color-violet-90);
  --wa-color-brand-border-normal: var(--wa-color-violet-80);
  --wa-color-brand-border-loud: var(--wa-color-violet-60);
  --wa-color-brand-on-quiet: var(--wa-color-violet-40);
  --wa-color-brand-on-normal: var(--wa-color-violet-30);
  --wa-color-brand-on-loud: white;

  --wa-color-focus: var(--wa-color-violet-60);
}

:root {

  /*************/
  /* Variables */
  /*************/
 
  /* Layout variables */
  --menu-width: auto;
  --main-width: 1fr;
  --aside-width: auto;
  --content-width: 56rem;
  --content-flow-spacing: 3rem;
  --content-padding-inline: 2rem;
  --site-margin-block: var(--wa-space-m);
  --item-list-gap: var(--wa-space-xs);

  /* Element variables */
  --main-logo-width: 300px;
  --footer-logo-height: var(--wa-font-size-l);
  --icon-button-size: 2rem;

  --site-primary-border-radius: var(--wa-border-radius-l);
  --site-secondary-border-radius: var(--wa-border-radius-m);
  --site-pill-border-radius: var(--wa-border-radius-pill);

  body {margin: 0;}

  /********/
  /* Font */
  /********/

  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  line-height: var(--wa-line-height-normal);

  wa-page {

    /**********/
    /* Layout */
    /**********/

    .card-like-thing {
      padding: var(--wa-space-xl);
      margin-block: var(--site-margin-block);

      border-style: var(--wa-border-style);
      border-width: var(--wa-border-width-s);
      border-radius: var(--wa-border-radius-s);
      border-color: var(--wa-color-surface-border);

      box-shadow: var(--wa-shadow-s)
    }

    .home-wrapper {
      max-width: var(--content-width);
      margin-inline: auto;
      padding-inline: var(--content-padding-inline);
    }

    footer[slot="main-footer"] {
      margin-block: var(--content-flow-spacing);
      wa-button {
        &::part(base) {
          height: auto;
          text-wrap-mode: wrap;
          line-height: inherit;
          padding-block: var(--wa-space-s);
        }
      }
    }

    /* flex stuff */

    .flex {display: flex;}

    .gap-item-list {gap: var(--item-list-gap)}

    .gap-xl {gap: var(--wa-space-xl)} .gap-l {gap: var(--wa-space-l)} .gap-m {gap: var(--wa-space-m)} .gap-s {gap: var(--wa-space-s)} .gap-xs {gap: var(--wa-space-xs)}

    .align-items-center {align-items: center;}

    .flex-wrap {flex-wrap: wrap;}

    .flex-column {flex-direction: column;}

    /* padding stuff */

    .padding-xl {padding: var(--wa-space-xl)} .padding-l {padding: var(--wa-space-l)} .padding-m {padding: var(--wa-space-m)} .padding-s {padding: var(--wa-space-s)} .padding-xs {padding: var(--wa-space-xs)}

    /* end flex stuff */

    /********************/
    /* General Elements */
    /********************/

    img {
      vertical-align: middle;
      max-width: 100%;
      max-height: 100%;
      object-fit: scale-down;
    }

    h1 {
      margin-block: var(--site-margin-block);
    }

    wa-input {
      flex-grow: 1;
      color: var(--wa-form-control-resting-color);
      &:focus {
        &::part(prefix) {
          color: var(--wa-form-control-value-color);
        }
      }
    }

    wa-tag::part(base) {user-select: unset;}

    wa-tab {
      &::part(base) {
        &:hover {
          background-color: var(--wa-color-brand-fill-quiet);
        }
        &:active {
          background-color: var(--wa-color-brand-fill-normal);
        }
        &[active] {
          background-color: var(--wa-color-brand-border-normal);
        }
      }
    }

    wa-tab-group {
      &[placement='end'] {
        > wa-tab {
          &::part(base) {
            width: 100%;
            border-radius: 0 var(--wa-border-radius-s) var(--wa-border-radius-s) 0;
          }
        }
      }
    }

    /**************/
    /* Grid stuff */
    /**************/

    .grid {
      display: grid;
    }
    .subgrid {
      grid-template-columns: subgrid;
    }

    .col-span-2 {grid-column: span 2} .col-span-3 {grid-column: span 3} .col-span-4 {grid-column: span 4} .col-span-5 {grid-column: span 5} .col-span-6 {grid-column: span 6}

    .item-list {
      background-color: bisque;
      > * {
        background-color: aqua;
        padding: var(--item-list-gap);
        display: grid;
        grid-template-columns: subgrid;
        > * {
          align-content: center;
          background-color: aquamarine;
        }
      }
    }

    /************************/
    /* Crazy rounding stuff */
    /************************/

    .primary-smart-border-radius {
      --smart-border-radius: var(--site-primary-border-radius);
    }
    .secondary-smart-border-radius {
      --smart-border-radius: var(--site-secondary-border-radius);
    }
    .pill-smart-border-radius {
      --smart-border-radius: var(--site-pill-border-radius);
    }

    .round-column {
      wa-button::part(base) {border-radius: 0;}
      > :first-child {
        &:is(wa-button) {
          &::part(base) {
            border-top-left-radius: var(--smart-border-radius);
            border-bottom-left-radius: var(--smart-border-radius);
          }
        }
      }
      > :last-child {
        &:is(wa-button) {
          &::part(base) {
            border-top-right-radius: var(--smart-border-radius);
            border-bottom-right-radius: var(--smart-border-radius);
          }
        }
      }
    }

    .round-row {
      wa-button::part(base) {border-radius: 0;}
      > :first-child {
        &:is(wa-button) {
          &::part(base) {
            border-top-left-radius: var(--smart-border-radius);
            border-top-right-radius: var(--smart-border-radius);
          }
        }
      }
      > :last-child {
        &:is(wa-button) {
          &::part(base) {
            border-bottom-left-radius: var(--smart-border-radius);
            border-bottom-right-radius: var(--smart-border-radius);
          }
        }
      }
    }

    /************/
    /* Elements */
    /************/

    .footer-img {
      height: var(--footer-logo-height);
    }

    .sidebar-close-button {
      font-size: var(--icon-button-size);
    }

    .nav-toggle-button {
      font-size: var(--icon-button-size);
    }

    .text-center {text-align: center;}

    .no-margin {margin: 0;}

    .margin-block {margin-block: var(--site-margin-block);}

    .margin-block-start {margin-block-start: var(--site-margin-block);}

    .font-s {font-size: var(--wa-font-size-s)} .font-m {font-size: var(--wa-font-size-m)} .font-l {font-size: var(--wa-font-size-l)} .font-xl {font-size: var(--wa-font-size-xl)} .font-2xl {font-size: var(--wa-font-size-2xl)} .font-3xl {font-size: var(--wa-font-size-3xl)} 

    .font-weight-light {font-weight: var(--wa-font-weight-light);}
    .font-weight-normal {font-weight: var(--wa-font-weight-normal);}
    .font-weight-semibold {font-weight: var(--wa-font-weight-semibold);}
    .font-weight-bold {font-weight: var(--wa-font-weight-bold);}

    .font-weight-body {font-weight: var(--wa-font-weight-body);}
    .font-weight-action {font-weight: var(--wa-font-weight-action);}
    .font-weight-heading {font-weight: var(--wa-font-weight-heading);}
  }
}