{% extends "en-us/PageLayout.htm" %}
{% block htmMetaPageLayout %}
    <meta name="result.pageId" content="{{ result.shortFileName }}"/>
    <meta name="result.uri" content="/product/doll/{{ pageId }}"/>
    <!-- <meta name="result.storeUrl" content="https://store.computate.org/product/computate-smart-cloud-deployer/11"/> -->
    <!-- <meta name="result.emailTemplate" content="/en-us/email/order-details.htm"/> -->
    <meta name="result.name" content="Pink Teacup Pixie Doll"/>
    <meta name="result.imageUri" content="/product-images/{{ pageId }}.jpg"/>
    <meta name="result.title" content="{{ name }}"/>
    <meta name="result.description" content="Beautiful hand made pure wool felt pixie doll"/>
    <meta name="result.productNum" content="1"/>
    <meta name="result.price" content="2048.00"/>
    <meta name="result.instagramUrl" content="https://www.instagram.com/coralberry_fairy/p/C-_X3wdPkyf/?img_index=1"/>
    <meta name="result.price" content="9999.00"/>
{% endblock htmMetaPageLayout %}
{% block htmStylePageLayout %}
{% endblock htmStylePageLayout %}
{% block htmTitlePageLayout %}
    <title>{{ title }}</title>
{% endblock htmTitlePageLayout %}
{% block htmBodyMiddlePageLayout %}
    <div>
      <wa-card with-image>
        <img slot="image" src="{{ STATIC_BASE_URL }}{{ imageUri }}" alt="{{ name }}" />
        <div>
          <h3 class="text-center font-2xl font-weight-heading">{{ name }}</h3>
          <h4 class="text-center font-l font-weight-action">{{ description }}</h4>
          <p>
            ✨💕 A fun little fairy doll project 💕✨ This tea cup size doll is a scaled down pattern of the @gingermelongirl Pocket Poppet doll. She was fun to make! I'm trying to decide if she needs some wings too 🧚‍♀️✨💕
          </p>
          <wa-tag variant="brand">${{ price }}</wa-tag>
        </div>
      </wa-card>
    </div>
{% endblock %}
