{% extends "en-us/PageLayout.htm" %}
{% block htmTitlePageLayout %}
		<title>Coralberry Fairy</title>
{% endblock %}
{% block htmBodyMiddlePageLayout %}
        <div>
          <h1>Coralberry Fairy</h1>
          <p>
            &nbsp;&nbsp;&nbsp;&nbsp;Dolls. Crafty Stuff.
          </p>
          <p>
            &nbsp;&nbsp;&nbsp;&nbsp;Dolls. Crafty Stuff.
          </p>
          <p>
            &nbsp;&nbsp;&nbsp;&nbsp;Dolls. Crafty Stuff.
          </p>
          <p>
            &nbsp;&nbsp;&nbsp;&nbsp;Dolls. Crafty Stuff.
          </p>
          <p>
            &nbsp;&nbsp;&nbsp;&nbsp;Dolls. Crafty Stuff.
          </p>
          <p>
            &nbsp;&nbsp;&nbsp;&nbsp;Dolls. Crafty Stuff.
          </p>
          <p>
            &nbsp;&nbsp;&nbsp;&nbsp;Dolls. Crafty Stuff.
          </p>
          <p>
            &nbsp;&nbsp;&nbsp;&nbsp;Dolls. Crafty Stuff.
          </p>
          <p>
            &nbsp;&nbsp;&nbsp;&nbsp;Dolls. Crafty Stuff.
          </p>
          <p>
            &nbsp;&nbsp;&nbsp;&nbsp;Dolls. Crafty Stuff.
          </p>
          <p>
            &nbsp;&nbsp;&nbsp;&nbsp;Dolls. Crafty Stuff.
          </p>
          <p>
            &nbsp;&nbsp;&nbsp;&nbsp;Dolls. Crafty Stuff.
          </p>
          <p>
            &nbsp;&nbsp;&nbsp;&nbsp;Dolls. Crafty Stuff.
          </p>
          <p>
            &nbsp;&nbsp;&nbsp;&nbsp;Dolls. Crafty Stuff.
          </p>
          <p>
            &nbsp;&nbsp;&nbsp;&nbsp;Dolls. Crafty Stuff.
          </p>
          <p>
            &nbsp;&nbsp;&nbsp;&nbsp;Dolls. Crafty Stuff.
          </p>
          <p>
            &nbsp;&nbsp;&nbsp;&nbsp;Dolls. Crafty Stuff.
          </p>
          <p>
            &nbsp;&nbsp;&nbsp;&nbsp;Dolls. Crafty Stuff.
          </p>
          <p>
            &nbsp;&nbsp;&nbsp;&nbsp;Dolls. Crafty Stuff.
          </p>
          <p>
            &nbsp;&nbsp;&nbsp;&nbsp;Dolls. Crafty Stuff.
          </p>
          <p>
            &nbsp;&nbsp;&nbsp;&nbsp;Dolls. Crafty Stuff.
          </p>
        </div>
{% endblock %}