<!DOCTYPE html>
<html lang="{{ SITE_LOCALE }}" class="wa-{{ userSiteTheme | default(SITE_THEME) }} wa-theme-{{ userWebComponentsTheme | default(WEB_COMPONENTS_THEME) }} wa-brand-pink ">
  <head>
{%- block htmHeadPageLayout %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
{%- block htmMetaPageLayout %}
{%- if result is defined %}
    <meta name="og:title" content="{{ result.name | e }}" />
    <meta name="og:type" content="website" />
    <meta name="og:image" content="{{ STATIC_BASE_URL }}{{ result.pageImageUri }}" />
{%- if result.pageImageWidth is defined %}
    <meta name="og:image:width" content="{{ result.pageImageWidth }}" />
    <meta name="og:image:height" content="{{ result.pageImageHeight }}" />
    <meta name="og:image:type" content="{{ result.pageImageType }}" />
{%- endif %}
{%- if result.pageImageWidth is defined %}
    <meta name="og:image:alt" content="{{ result.pageImageAlt }}" />
{%- endif %}
    <meta name="og:url" content="{{ result.displayPage }}" />
    <meta name="og:description" content="{{ result.description }}" />
{%- endif %}
{%- endblock htmMetaPageLayout %}
{%- block htmTitlePageLayout %}
    <title>{{ SITE_DISPLAY_NAME }}</title>
{%- endblock htmTitlePageLayout %}
{%- block htmStylesPageLayout %}
    <link rel="icon" href="{{ STATIC_BASE_URL }}/logo/coralberry-c.svg" />
    {{ WEB_COMPONENTS_CSS }}
    <link rel="stylesheet" href="https://early.webawesome.com/webawesome@3.0.0-beta.6/dist/styles/webawesome.css" />
    <link rel="stylesheet" href="https://early.webawesome.com/webawesome@3.0.0-beta.6/dist/styles/themes/{{ userWebComponentsTheme | default(WEB_COMPONENTS_THEME) }}.css" />
    <link rel="stylesheet" href="{{ STATIC_BASE_URL }}/css/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    <link rel="stylesheet" href="{{ STATIC_BASE_URL }}/css/leaflet.draw.css" />
    <link rel="stylesheet" href="{{ STATIC_BASE_URL }}/css/leaflet.contextmenu.css"/>
    <link rel="stylesheet" href="{{ STATIC_BASE_URL }}/css/site.css"/>
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
{%- endblock htmStylesPageLayout %}
    <style>
{%- block htmStylePageLayout %}{%- endblock htmStylePageLayout %}
    </style>
{% if userAwesomeEffect == true %}
    <style>
* {animation: infinite awesome-effect 3s alternate ease-in-out}
    </style>
{% endif %}
{%- block htmScriptsPageLayout %}
{%- if FONTAWESOME_KIT is defined %}
    {{ FONTAWESOME_KIT }}
{%- endif %}
    <script type="module">

      function siteSearchInput(event) {
        var filters = [];
        if(event.target.value == '')
          filters.push({ name: 'q', value: '*:*' });
        else
          filters.push({ name: 'q', value: event.target.value ? 'objectSuggest:' + event.target.value : '' });

        fetch(
          '{{ USER_SEARCH_URI if userName is defined else PUBLIC_SEARCH_URI }}?' + filters.map(function(m) { return m.name + '=' + encodeURIComponent(m.value) }).join('&')
          , {
            headers: {'Content-Type':'application/json; charset=utf-8'}
          }).then(response => {
            if(response.ok) {
              var dropdown = document.querySelector('#siteSearchDropdown');
              var dropdownMenu = document.querySelector('#siteSearchDropdownMenu');
              response.json().then(function(body) {
                dropdownMenu.innerHTML = '';
                body.list.forEach((o) => {
                  var menuItem = document.createElement('wa-dropdown-item');
                  menuItem.innerText = o.objectTitle;
                  menuItem.setAttribute('data-href', o.displayPage);
                  dropdownMenu.appendChild(menuItem);
                  menuItem.addEventListener('click', (event) => window.location.href = event.target.getAttribute('data-href') );
                });
                dropdown.active = true;
              });
            } else {
              error(response, event.target);
            }
          })
          .catch(response => error(response, event.target));
      }

      Promise.all([
        customElements.whenDefined('wa-button')
        , customElements.whenDefined('wa-input')
      ]).then(() => {
        var input = document.querySelector('#siteSearchInput');
        var dropdown = document.querySelector('#siteSearchDropdown');
        input.addEventListener('input', siteSearchInput);
        input.addEventListener('focus', siteSearchInput);
        document.body.addEventListener('click', function(event) {
          if(!dropdown.contains(event.target))
            dropdown.active = false;
        });
        document.body.addEventListener('keyup', (event) => {
          if (event.key === 'Escape' && dropdown.active)
            dropdown.active = false;
        });
      });
    </script>
    <script type="module" src="https://early.webawesome.com/webawesome@3.0.0-beta.6/dist/webawesome.loader.js"></script>
    <script src="{{ STATIC_BASE_URL }}/js/site.js"></script>
    <script src="{{ STATIC_BASE_URL }}/js/sockjs.js"></script>
    <script src="{{ STATIC_BASE_URL }}/js/vertx-eventbus.js"></script>
    <script src="{{ STATIC_BASE_URL }}/js/plotly-2.9.0.min.js"></script>
    <script src="{{ STATIC_BASE_URL }}/js/leaflet.js"></script>
    <script src="{{ STATIC_BASE_URL }}/js/leaflet.draw.js"></script>
    <script src="{{ STATIC_BASE_URL }}/js/leaflet.contextmenu.js"></script>
    <script src="{{ STATIC_BASE_URL }}/js/moment.js"></script>
{%- endblock htmScriptsPageLayout %}
{%- block htmScriptPageLayout %}
{%- endblock htmScriptPageLayout %}
{%- endblock htmHeadPageLayout %}
    <script>
{%- block websocketPageLayout %}{%- endblock websocketPageLayout %}
    </script>
    <script type="module">
      const userDialog = document.querySelector('#user-dialog');
      document.querySelector('#user-avatar')?.addEventListener('click', () => (userDialog.open = true));
    </script>
   </head>
  <body class="wa-size-{{ userFontSize | default('m') }} wa-cloak ">
    <wa-page>
{%- block htmBodyPageLayout %}
{%- block htmBodyStartPageLayout %}
      <header slot="header" class="display-block" id="header">
        <nav class="wa-cluster justify-content-space-around">
          <wa-button data-toggle-nav style="display: none;" variant="brand" label="open menu">
            <i class="fa-thin fa-bars"></i>
          </wa-button>
          <a href="/" class="wa-cluster">
            <img class="logo" src="{{ STATIC_BASE_URL }}/logo/coralberry-fairy-{{ userSiteTheme | default(SITE_THEME) }}-v2.svg"/>
          </a>
          <div class="wa-cluster">
            <wa-button variant="brand" appearance="plain" href="{{ SITE_BASE_URL }}">
              <!-- <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-home"></i> -->
              home
            </wa-button>
            <wa-button variant="brand" appearance="plain" id="site-aside-left-model-button-Doll" href="{{ SITE_BASE_URL }}/search/doll">
              <!-- <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-reel"></i> -->
              dolls
            </wa-button>
            <wa-button variant="brand" appearance="plain" id="site-aside-left-model-button-SitePage" href="{{ SITE_BASE_URL }}/search/article">
              <!-- <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-newspaper"></i> -->
              articles
            </wa-button>
          </div>
          <div class="wa-cluster">
            <wa-popup placement="bottom-start" id="siteSearchDropdown">
              <wa-input slot="anchor" placeholder="search" id="siteSearchInput">
                <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-magnifying-glass"></i>
              </wa-input>
              <div id="siteSearchDropdownMenu">
              </div>
            </wa-popup>
{%- if userName is defined %}
            <wa-dialog id="user-dialog" light-dismiss label="user: {{ userName }}">
              <span slot="label" class="font-weight-body">user: <b>{{ userName }}</b></span>
              <p>full name: <b>{{ userFullName }}</b></p>
              <p>email: <b>{{ userEmail }}</b></p>
              <wa-tooltip for="site-button-user-page">see or change your user profile</wa-tooltip>
              <wa-tooltip for="site-button-logout" placement="right">sign out</wa-tooltip>
              <p class="wa-cluster justify-content-center">
                <wa-button id="site-button-user-page" variant="brand" href="{{ SITE_BASE_URL }}/edit/user/{{ userId }}" label="see or change your user profile">
                  <!-- <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-house-user"></i> -->
                  <span>my user page</span>
                </wa-button>
                <wa-button id="site-button-logout" variant="brand" href="{{ logoutUrl }}" label="sign out">
                  <!-- <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-person-from-portal"></i> -->
                  <span>sign out</span>
                </wa-button>
              </p>

              <div class="wa-stack">
                <wa-details summary="user groups" open="true">
                  <div>
                    {% for group in userGroups %}
                    <wa-badge variant="success">{{ group }}</wa-badge>
                    {% endfor %}
                  </div>
                </wa-details>

                <wa-details summary="current scopes" open="true">
                  <div class="wa-stack ">
                    <div>
                      <wa-tag variant="neutral">{{ pageUri }}</wa-tag>
                    </div>
                    <div>
                      {% for scope in scopes %}
                      <wa-badge variant="success">{{ scope }}</wa-badge>
                      {% endfor %}
                    </div>
                  </div>
                </wa-details>
              </div>
            </wa-dialog>
            <wa-tooltip for="user-avatar">{{ userName }}</wa-tooltip>
            <wa-avatar id="user-avatar" label="user settings"></wa-avatar>
{%- else %}
            <wa-button variant="brand" href="{{ SITE_BASE_URL }}/search/user">
              <!-- <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-person-to-portal"></i> -->
              login
            </wa-button>
{%- endif %}
          </div>
        </nav>
      </header>
      <main id="main-content">
        <wa-drawer id="warnings-drawer" label="Warnings">
          <div id="warnings-drawer-stack" class="wa-stack ">
          </div>
        </wa-drawer>
{%- endblock htmBodyStartPageLayout %}
{% block htmBodyMiddlePageLayout %}
        <div class="pageContent wa-stack wa-gap-3xl ">
          put stuff here
        </div>
{%- endblock htmBodyMiddlePageLayout %}
{%- block htmBodyEndPageLayout %}
        <footer class="wa-cluster justify-content-center">
          {% if GITHUB_ORG is defined %}
          <wa-button class="tile" href="https://github.com/{{ GITHUB_ORG }}/{{ SITE_NAME }}" target="_blank" appearance="filled">
            <div>
              <span>This site is</span>
              <b class="no-wrap">
                <i class="fa-brands fa-github fa-xl"></i>
                <b>open source</b>
              </b>
            </div>
          </wa-button>
          {% endif %}
          <wa-button class="tile" href="https://www.computate.org/" target="_blank" id="footer-generated-by" appearance="accent" variant="brand">
            <div class="wa-cluster">
              <span>Generated with </span>
              <b class="wa-cluster"><img class="footer-img" style="font-weight: var(--wa-font-weight-bold);" src="{{ STATIC_BASE_URL }}/logo/computate-keys.svg" alt="Computate"/></b>
            </div>
          </wa-button>
          {% if SITE_POWERED_BY_URL is defined %}
          <wa-button class="tile" href="{{ SITE_POWERED_BY_URL }}" target="_blank" id="footer-powered-by" appearance="filled">
            <div>
              <span>Powered by </span>
              <b class="no-wrap">
                <i class="fa-brands fa-redhat fa-xl" style="color: #ff0000;"></i>
                <span>{{ SITE_POWERED_BY_NAME | e }}</span>
              </b>
            </div>
          </wa-button>
          {% endif %}
          <wa-button class="tile" appearance="filled" label="Share with email" href="mailto:{{ MAILING_LIST_EMAIL }}" target="_blank">
            <div>
              <i class="{{ FONTAWESOME_STYLE }} fa-envelope-open fa-xl"></i>
              <span>Coralberry Email Group</span>
            </div>
          </wa-button>
        </footer>
      </main>
    </wa-page>
{%- endblock htmBodyEndPageLayout %}
{%- endblock htmBodyPageLayout %}
  </body>
</html>