{% extends "en-us/Doll.htm" %}
{% block htmMetaPageLayout %}
    <meta name="result.name" content="Gingermelon Mermaid Girl"/>
    <meta name="result.description" content="Beautiful hand made pure wool felt mermaid girl"/>
    <meta name="result.instagramUrl" content="https://www.instagram.com/p/BfYqQr6FzW7/"/>
    <meta name="result.price" content="9999.00"/>
    <meta name="result.created" content="2025-10-17T22:39:36.556[America/Denver]" />
    <!-- <meta name="result.emailTemplate" content="/en-us/email/order-details.htm"/> -->

    <meta name="result.pageId" content="{{ result.shortFileName }}"/>
    <meta name="result.uri" content="/product/doll/{{ result.pageId }}"/>
    <meta name="result.pageImageUri" content="/product-images/{{ result.pageId }}.jpg"/>
    <meta name="result.title" content="{{ result.name }}"/>
    <meta name="result.labelsString" content="mermaid, purple"/>
{% endblock htmMetaPageLayout %}
{% block articleContent %}
    {{ imageAndTitleAndDescription(result, result.name, result.description) }}
        {{ startP() }}
          First gingermelon mermaid girl- I love her! I had a lot of fun making her tail and accessories 💜🧜‍♀️
        {{ endP() }}
        {{ centeredActionGroupStart() }}
          {{ dollBuyButton() }}
          {{ price(result, result.price) }}
        {{ centeredActionGroupEnd() }}
        {{ centeredActionGroupStart() }}
          {{ instagramButton(result, result.instagramUrl) }}
        {{ centeredActionGroupEnd() }}
        {{ hashtags() }}
        {{ created() }}
      {{ endDollImageAndSidebar() }}
{% endblock %}
